<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  dir="{% if request.locale.iso_code == 'ar' or request.locale.iso_code == 'he' or request.locale.iso_code == 'fa' or request.locale.iso_code == 'ur' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_schemes.scheme-1.settings.background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    {% render 'css-variables' %}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'global.js' | asset_url }}" type="module"></script>
  </head>

  <body class="template-password color-scheme-1">
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
